.Container{
    box-shadow: 0px 1px 3px #CCCCCC;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    color:gray;
    height: 38px;
    align-items: center;
}

.Text{
    font-size: 12px;
    margin-right: 1%;
}

.SignIn{
    font-size: 12px;
    margin-right: 1%;
    margin-left: 2%;
}

.Break{
    margin-right: 1%;
}

.Social{
    margin-right: 1%;
}

.Social:hover{
    cursor: pointer;
    color:#3f51b5;
}

.Notifications{
    text-align: center;
    background-color: blue;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 10px;
    color: white;
}

.Chat{
    text-align: center;
    background-color: orangered;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 10px;
    color: white;
}