.Header{
    display:flex;
    justify-content:flex-start;
    flex-wrap:wrap;
    margin-left:2%
}

.Header p{
    margin-left:2%;
    font-size:40px;
    text-shadow:2px 2px 4px #000000;
    color:#2f79ca;
}

.Container{
    overflow-x: hidden;
}